.page-content legend {
	color: #788188;
	font-weight: 600;
	font-size: 2.0rem;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 20px;
}
.page-content .file-control-wrapper {
	position: relative;
}
.page-content .file-control {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.page-content .nav-list .nav-list-group {
	font-weight: 600;
	line-height: 2.5rem;
}
.page-content .nav-list .nav-list-item a {
	color: inherit;
	background-color: inherit;
}
.page-content .nav-list .nav-list-item .fa {
	margin-right: 4px;
}
.page-content .nav-list .nav-list-item .badge {
	position: absolute;
	right: 10px;
}
.page-content .nav-list .nav-list-item.active {
	color: #fff;
	background-color: #4cb6cb;
}
.page-content .nav-list .nav-list-item.active .badge {
	color: #4cb6cb;
	background-color: #fff;
}
.page-content .nav-list .nav-list-item:not(.active):hover {
	background-color: #e8eff0;
}

.lecture-toggle-list {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #eaeef1;
}
.lecture-toggle-list>li {
	display: block;
}
.lecture-toggle-list>li>a {
	padding: 15px;
	display: block;
	color: #fff;
	background-color: #4cb6cb;
	border-bottom: 1px solid #eaeef1;
}
.lecture-toggle-list>li>a:after {
	width: 0;
	height: 0;
	display: block;
	content: " ";
	visibility: hidden;
	clear: both;
}
.lecture-toggle-list>li>a i {
	margin-right: 10px;
}
.lecture-toggle-list>li>a .title {
	float: left;
	font-weight: 600;
}
.lecture-toggle-list>li>a .time {
	float: right;
}
.lecture-toggle-list>li .lecture-details {
	display: none;
}
.lecture-toggle-list>li:first-child .lecture-details {
	display: block;
}

.lecture-details {
	margin: 0;
	padding: 20px;
	list-style: none;
	font-size: 1.1em;
}
.lecture-details .author {
	text-align: center;
	line-height: 1.2;
}
.lecture-details .author .avatar {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-bottom: 10px;
}
.lecture-details .author .avatar img {
	width: 100%;
	height: 100%;
}
.lecture-details .meta {
	margin: 0;
	padding: 0;
	list-style: none;
}
.lecture-details .meta>li {
}
.lecture-details .meta>li:after {
	width: 0;
	height: 0;
	display: block;
	content: " ";
	visibility: hidden;
	clear: both;
}
.lecture-details .meta>li i {
	width: 2.0em;
	text-align: center;
	float: left;
}
.lecture-details .meta>li .text {
	margin: 10px 0 10px 2.5em;
}
.lecture-details .meta>li .label {
	margin-right: 10px;
}
.lecture-details .meta>li .link-details {
	color: #4cb6cb;
}
.owned-lecture-header {
	position: relative;
}
.owned-lecture-header .new-lecture {
	background-color: #4cb6cb;
	padding-top: 4px;
	padding-bottom: 4px;
	position: absolute;
	right: 10px;
	top: 0; 
}
.owned-lecture-list {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #eaeef1;
}
.owned-lecture-list>li {
	height: 50px;
	display: block;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 50px;
	font-weight: 600;
	border-bottom: 1px solid #eaeef1;
}
.owned-lecture-list>li>a {
	color: inherit;
}
.owned-lecture-list>li>i {
	margin-right: 10px;
}
.owned-lecture-list>li:last-child {
	border-bottom: 0;
}
.owned-lecture-list>li .op-wrapper {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}
.owned-lecture-list>li .op-wrapper:after {
	width: 0;
	height: 0;
	display: block;
	content: " ";
	visibility: hidden;
	clear: both;
}
.owned-lecture-list>li:active .op-wrapper,
.owned-lecture-list>li:hover .op-wrapper,
.owned-lecture-list>li:focus .op-wrapper {
	display: block;
}
@media only screen and (max-width: 768px) {
	.owned-lecture-list>li .op-wrapper {
		display: block;
	}
}
.owned-lecture-list>li .op-wrapper a {
	width: 50px;
	height: 49px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	background-color: #4cb6cb;
	float: left;
	border-right: 1px solid #fff;
}
.owned-lecture-list>li .op-wrapper a:last-child {
	border-right: 0;
}
table.past-lecture-table {
	background-color: #fff;
	border: 1px solid #eaeef1 !important;
}
.past-lecture-table thead {
	display: none;
}
.past-lecture-table tr {
	height: 50px;
}
.past-lecture-table>tbody>tr>td {
	padding: 0 20px 0 20px;
	line-height: 50px;
	border-top: 0;
	border-bottom: 1px solid #eaeef1;
}
.past-lecture-table>tbody>tr:last-child>td {
	border-bottom: 0;
}
.past-lecture-table>tbody>tr>td.text-bold {
	font-weight: 600;
}
.past-lecture-table>tbody>tr>td a {
	color: inherit;
}
.past-lecture-table>tbody>tr>td i {
	margin-right: 10px;
}
.past-lecture-paginate-panel {
	border: 1px solid #eaeef1;
	border-top: 0;
	background-color: #fff;
	text-align: right;
}
.past-lecture-paginate-panel:after {
	width: 0;
	height: 0;
	display: block;
	content: " ";
	visibility: hidden;
	clear: both;
}
