
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6,
.page-content legend {
	font-weight: 600;
}
.page-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.page-content .nav-list .nav-header {
	font-weight: 600;
}
.page-content .nav-list>li .fa {
	margin-right: 4px;
}
.page-content .well {
	background-color: #fff;
}
.page-content .summary ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.page-content .summary ul:after  {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}
.page-content .summary ul>li {
	width: 25%;
	border-right: 1px solid #eee;
	text-align: center;
	float: left;
}
.page-content .summary ul>li:last-child {
	border-right: 0;
}
.page-content .summary ul>li .count {
	line-height: 1.0;
	margin-top: 0;
	margin-bottom: 10px;
}
.page-content .btn-judge {
	padding: 10px;
	margin-bottom: 20px;
}
.page-content .chosen-container {
	width: 100% !important;
	height: 34px;
}
.page-content .chosen-single {
	height: 100%;
}
.page-content .chosen-single span {
	line-height: 34px;
}

.page-content ul.user-info {
	list-style: none;
	margin: 0;
	padding: 0;
}
.page-content ul.user-info>li {
	font-size: 18px;
	line-height: 30px;
	border-right: 1px solid #eee;
}
.page-content ul.user-info>li:last-child {
	border-right: 0;
}
.page-content .control-group {
	margin-bottom: 20px;
}
.page-content .margin-bottom,
.page-content .chosen-container {
	margin-bottom: 20px;
}
.page-content .record-list,
.page-content .history-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.page-content .record-list .record-item {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dadada;
}
.page-content .record-item:last-child {
	padding: 0;
	margin: 0;
	border-bottom: 0;
}
.page-content .history-item p,
.page-content .record-item p {
	margin-top: 10px;
}
.page-content .record-item .meta span {
	font-weight: 600;
	padding: 5px;
}

.page-content .tabbable li.active a,
.page-content .tabbable li.active a:hover,
.page-content .tabbable li.active a:focus,
.page-content .tabbable li.active a:visited
 {
	color: #fff;
	background-color: #5a6a7a;
}

.page-content .well-info {
	background-color: #545ca6;
}

/*首页*/
.page-content .logo {
	width: 114px;
	height: 114px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/sign_min.png");
	background-size: cover;
}
