select {
	background:transparent;
	width:200px;
	padding:5px;
	line-height:1;
	border:0;
	border-radius:0;
	height:32px;
}

select{
	-webkit-appearance: menulist;
	box-sizing:border-box;
	align-items: center;
	border:1px solid;
	border-image-source:initial;
	border-image-slice:initial;
	border-image-width:initial;
	border-image-outset:initial;
	border-image-repeat:initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	cursor: default;
}

select{
	margin:0em;
	line-height:normal;
	word-spacing:normal;
	text-transform: none;
	text-indent:0px;
	text-shadow:none;
	display: inline-block;
	text-align:start;
	border-radius:5px;
}

.select-name{
	background-color:#428bca;
	border-color:#357ebd;
}
