.mail-user {
    color:#428bca;
    font: normal bold 14px/20px arial, sans-serif;
}

input::-webkit-input-placeholder {
    font: italic normal 14px/20px arial, sans-serif;
}
input:-moz-placeholder {
    font: italic normal 14px/20px arial, sans-serif;
}
input::-moz-placeholder {
    font: italic normal 14px/20px arial, sans-serif;
}
input:-ms-input-placeholder {
    font: italic normal 14px/20px arial, sans-serif;
}

.mail-user::-webkit-input-placeholder {
    color:#428bca !important;
}
.mail-user:-moz-placeholder {
    color:#428bca !important;
}
.mail-user::-moz-placeholder {
    color:#428bca !important;
}
.mail-user:-ms-input-placeholder {
    color:#428bca;
}

.label-title,.label-user {
    width:4em;
}
.label-user,.label-title, .mail-title {
    color:#555555 !important;
    font: normal bold 14px/20px arial, sans-serif;
}

.mail-list-panel {
    margin:10px;
    padding: 10px;
}

#mail-list-view,#mail-reader-view,#mail-draft-view {
    display:none;
}

#mail-table {
    table-layout:fixed !important;
    width:100%;
}

#mail-table th,#mail-table td {
    white-space:nowrap;
    overflow:hidden !important;
    text-overflow:ellipsis;
}

.textarea-custom {
    font-family:inherit;
    font-weight:500;
    line-height:1.1;
    font-size:18px;
    color:inherit;
}
