body {
	padding-top:52px;
}
.navbar .xylinux {
	color:#ffffff;
}
.navbar-text a.active {
	color:#ffffff;
}
.pagination {
	margin:20px 0
}
.pagination ul {
	display:inline-block;
	*display:inline;
	margin-bottom:0;
	margin-left:0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*zoom:1;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.05);
	box-shadow:0 1px 2px rgba(0,0,0,0.05)
}
.pagination ul>li {
	display:inline
}
.pagination ul>li>a,.pagination ul>li>span {
	float:left;
	padding:4px 12px;
	line-height:20px;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd;
	border-left-width:0
}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {
	background-color:#f5f5f5
}
.pagination ul>.active>a,.pagination ul>.active>span {
	color:#999;
	cursor:default
}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus {
	color:#999;
	cursor:default;
	background-color:transparent
}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span {
	border-left-width:1px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-topleft:4px
}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span {
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-moz-border-radius-bottomright:4px
}
.pagination-centered {
	text-align:center
}
.pagination-right {
	text-align:right
}
.dataTables_rilter {
	}.dataTables_filter label {
	line-height:20px !important;
}
label.input,label.m-wrap {
	display:block;
	margin-bottom:5px;
}
input.m-wrap,select.m-wrap {
	height:28px !important;
	/* In IE7,the height of the select element cannot be changed by height,only font-size */
  /* For IE7,add top margin to align select with labels */
  line-height:32px;
	background-color:#ffffff;
	background-image:none !important;
	filter:none !important;
	border:1px solid #e5e5e5;
	outline:none;
	font-size:16px;
	font-weight:normal;
	font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}
select.m-wrap.small {
	width:134px !important;
}
select.m-wrap:focus {
	border-color:#999999;
	outline:0 !important;
	/* IE6-9 */
  -webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
/*sidebar*/
.ie8 .page-sidebar {
	position:absolute;
	width:225px;
}
ul.page-sidebar-menu {
	list-style:none;
	margin:0;
	padding:0;
}
ul.page-sidebar-menu > li {
	display:block;
	margin:0;
	padding:0;
	border:0px;
}
ul.page-sidebar-menu > li.start > a {
	border-top-color:transparent !important;
}
ul.page-sidebar-menu > li:last-child > a,ul.page-sidebar-menu > li.last > a {
	border-bottom-color:transparent !important;
}
ul.page-sidebar-menu > li > a {
	display:block;
	position:relative;
	margin:0;
	border:0px;
	padding:10px 15px;
	text-decoration:none;
	font-size:14px;
	font-weight:300;
}
.page-sidebar-fixed ul.page-sidebar-menu > li > a {
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
ul.page-sidebar-menu > li > a i {
	font-size:16px;
	margin-right:5px;
}
.page-sidebar .sidebar-search {
	margin:8px 20px 20px 20px;
}
.page-sidebar .sidebar-search .submit {
	display:block;
	float:right;
	margin-top:8px;
	width:13px;
	height:13px;
	background-image:url(../img/search-icon.png);
	background-repeat:no-repeat;
}
.page-sidebar .sidebar-search input {
	margin:0px;
	width:140px;
	border:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	font-size:14px;
	box-shadow:none;
}
.page-sidebar .sidebar-search .input-box {
	padding-bottom:2px;
}
/***
Sidebar toggler(show/hide)
***/

.page-sidebar .sidebar-toggler {
	cursor:pointer;
	opacity:0.5;
	filter:alpha(opacity=50);
	margin-top:15px;
	margin-left:175px;
	width:29px;
	height:29px;
	background-repeat:no-repeat;
}
.sidebar-toggler:hover {
	filter:alpha(opacity=100);
	opacity:1;
}
.page-sidebar-closed .sidebar-toggler {
	margin-left:3px;
}
.page-sidebar-closed .page-sidebar .sidebar-search {
	height:34px;
	width:29px;
	margin-left:3px;
	margin-bottom:15px !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search input {
	display:none;
}
.page-sidebar-closed .page-sidebar .sidebar-search .submit {
	margin:11px 7px !important;
	display:block !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search .input-box {
	border-bottom:0 !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open {
	height:34px;
	width:255px;
	overflow:hidden;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open input {
	margin-top:3px;
	padding-left:10px;
	padding-bottom:2px;
	width:180px;
	display:inline-block !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .submit {
	display:inline-block;
	width:13px;
	height:13px;
	margin:10px 8px 9px 6px !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {
	background-repeat:no-repeat;
	width:11px;
	height:11px;
	margin:11px 6px 7px 8px !important;
	display:inline-block !important;
	float:left !important;
}
.page-sidebar-closed ul.page-sidebar-menu > li > a .selected {
	right:-3px !important;
}
.page-sidebar-closed ul.page-sidebar-menu > li > a > .title,.page-sidebar-closed ul.page-sidebar-menu > li > a > .arrow {
	display:none !important;
}
.page-sidebar-closed .sidebar-toggler {
	margin-right:3px;
}
.page-sidebar-closed .page-sidebar .sidebar-search {
	margin-top:6px;
	margin-bottom:6px;
}
.page-sidebar-closed ul.page-sidebar-menu {
	width:35px !important;
}
.page-sidebar-closed ul.page-sidebar-menu > li > a {
	padding-left:7px;
}
.page-sidebar-fixed.page-sidebar-closed ul.page-sidebar-menu > li > a {
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.page-sidebar-closed ul.page-sidebar-menu > li:hover {
	width:225px !important;
	position:relative !important;
	z-index:2000;
	display:block !important;
}
.page-sidebar-closed ul.page-sidebar-menu > li:hover .selected {
	display:none;
}
.page-sidebar-closed ul.page-sidebar-menu > li:hover > a > i {
	margin-right:10px;
}
.page-sidebar-closed ul.page-sidebar-menu > li:hover .title {
	display:inline !important;
}
.page-sidebar-closed ul.page-sidebar-menu > li > .sub-menu {
	display:none !important;
}
.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu {
	width:189px;
	position:absolute;
	z-index:2000;
	left:36px;
	margin-top:0;
	top:100%;
	display:block !important;
}
/* 2rd level sub menu*/
.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu > li > a {
	padding-left:15px !important;
}
/* sidebar container */
 
.page-sidebar-closed  .page-sidebar {
	width:50px;
}
.page-sidebar-closed  .page-content {
	margin-left:35px !important;
}
.page-sidebar {
	background-color:#3d3d3d;
}
ul.page-sidebar-menu > li > a {
	border-top:1px solid #5c5c5c !important;
	color:#ffffff !important;
}
ul.page-sidebar-menu > li:last-child > a {
	border-bottom:1px solid transparent !important;
}
ul.page-sidebar-menu > li a i {
	color:#969696;
}
ul.page-sidebar-menu > li.open > a,ul.page-sidebar-menu > li > a:hover,ul.page-sidebar-menu > li:hover > a {
	background:#303030;
}
ul.page-sidebar-menu > li.active > a {
	background:#e02222 !important;
	border-top-color:transparent !important;
	color:#ffffff;
}
ul.page-sidebar-menu > li.active > a i {
	color:#ffffff;
}
ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
	border-top:0px !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a,ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
	color:#ffffff !important;
	background:#575757 !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
	background:#575757 !important;
}
/* font color for all sub menu links*/
ul.page-sidebar-menu li > ul.sub-menu > li > a {
	color:#bdbdbd;
}
/* menu arrows */
ul.page-sidebar-menu > li > a .arrow:before,ul.page-sidebar-menu > li > a .arrow.open:before {
	color:#7d7d7d !important;
}
ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
	color:#707070 !important;
}
ul.page-sidebar-menu > li > a > .arrow.open:before {
	color:#8a8a8a !important;
}
ul.page-sidebar-menu > li.active > a .arrow:before,ul.page-sidebar-menu > li.active > a .arrow.open:before {
	color:#ffffff !important;
}
/* sidebar search */
.page-sidebar .sidebar-search input {
	background-color:#242424 !important;
	color:#7d7d7d;
}
.page-sidebar .sidebar-search input::-webkit-input-placeholder {
	color:#7d7d7d !important;
}
.page-sidebar .sidebar-search input:-moz-placeholder {
	color:#7d7d7d !important;
}
.page-sidebar .sidebar-search input:-ms-input-placeholder {
	color:#7d7d7d !important;
}
.page-sidebar .sidebar-search input {
	background-color:#3d3d3d !important;
	color:#bfbfbf !important;
}
.page-sidebar .sidebar-search .input-box {
	border-bottom:1px solid #7d7d7d !important;
}
.page-sidebar .sidebar-search .submit {
	background-image:url(../img/search-icon.png);
}
.sidebar-toggler {
	background-image:url(../img/sidebar-toggler.jpg);
	background-color:#242424;
}
/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open {
	background-color:#3d3d3d !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {
	background-image:url("../img/sidebar-search-close.png");
}
/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
	background-color:#3d3d3d;
}

