body {
	padding-top:50px;
}
.navbar .xylinux {
	color:#ffffff;
}
.navbar-text a.active {
	color:#ffffff;
}

.badge-warning {
    background-color:#f89406;
}

.label-warning[href],.badge-warning[href] {
    background-color:#c67605;
}

.sidebar-collapse {
    padding:0;
}

.sidebar-list > li {
    cursor:pointer;
    color:#ffffff;
    background:#222222;
    border:1px solid #222222;
}

.mail-list-panel {
    margin:10px;
    padding: 10px;
}

#mail-editor,#mail-content {
    display:none;
}

.textarea-custom {
    font-family:inherit;
    font-weight:500;
    line-height:1.1;
    font-size:18px;
    color:inherit;
}

.list-bottom-no-margin {
    margin-bottom:0px !important;
}


/*
ul.list-responsive>:hover {
    #background:#222222;
}

@media (max-width:480px) {
ul.list-responsive {
    display:block;
    *display:block; 
}

ul.list-resoponsive>li:hover {
    background:#00ee00;
}

ul.list-responsive>li {
    display:block;
    *display:block;
    border:1px solid #222222;
}
}

@media (max-width:768px) {
ul.list-responsive {
    display:block;
    *display:block; 
}

ul.list-resoponsive:hover {
    background:#00ee00;
}

ul.list-responsive>li {
    display:block;
    *display:block;
    border:1px solid #222222;
}
}

@media (min-width:780px) and (max-width:1200px) {
.list-responsive ul {
    display:inline-block;
    *display:inline; 
}

.list-resoponsive:hover {
    background:#00ee00;
}

.list-responsive li {
    display:inline;
    border:1px solid #222222;
    border-left-width:0;
    float:left;
}
.list-responsive li:first-child {
    border-left-width:1px;
}

}

@media (min-width:1200px) {
.list-responsive ul {
    display:inline-block;
    *display:inline; 
}

.list-resoponsive ul:hover {
    background:#00ee00;
}

.list-responsive  li {
    display:inline;
    border:1px solid #222222;
    border-left-width:0;
    float:left;
}
.list-responsive  li:first-child {
    border-left-width:1px;
}

}
*/
