body {
    padding-top:53px;
}

.navbar .xylinux {
    color:#ffffff;
}

.navbar-text a.active {
    color:#ffffff;
}

.input-group-addon .label-div {
    width:4em;
}

.form-title-div {
    font-size:20px;
    text-align:center;
    margin-bottom:20px;
}

#tx{
	border: none;
	padding: 0px;
	margin: 20px 0 10px 5px;
}

#open_sidebar{
	height: 100%;
	position: fixed;
	margin-top: -5px;
	background: #101010;
	width: 180px;
}

#infor{
	margin: 50px 0 0 260px;
	padding: 30px 20px 30px 80px;
}

[type=text]{
	margin: 5px 0 10px 0;
	display: inline;
	width: 80%;
}

label{
	margin-left: 30px;
	display: table-cell;
	overflow: hidden;
}

.infor-box{
	position: relative;
	margin: -133px 0 40px 360px;
	overflow: hidden;
	width: 50%;
}

.infor-box1{
	position: relative;
	margin: -270px 0 30px 360px;
	overflow: hidden;
	width: 50%;
}

#left-infor li{
	list-style-type: none;
	padding: 10px 0 10px 25px;
 }

#left_bar{
	margin-left: -40px;
}

#left-infor{
	font-size: 16px;
	width: 110%;
}

a:hover{
	text-decoration: none;
	color: white;
}

a,[name=name]{
	color: rgba(255,255,255,0.5);
}
