<aside class="aside-md bg-light dk" id="sidebar">

      <section class="vbox animated fadeInRight">

            <section class="scrollable hover">

		<{section name=n loop=$user_list}>
		<{if $smarty.section.n.first}>
                  <h4 class="font-thin m-l-md m-t hidden-nav-xs">在线列表</h4>
		<{/if}>
                  <ul class="list-group no-bg no-borders auto m-t-n-xxs">

                        <li class="list-group-item">

                              <span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm" >

                                    <img src="images/a1.png" alt="..." class="img-circle"> <i class="on b-light right sm"></i>

                              </span>

                              <div class="clear">

                                    <div>
                                          <a href="#"><{$user_list[n].name}></a>
                                    </div>

                                    <small class="<{$user_list[n].status}>">{<$user_list[n].workplace>}</small>
                              </div>
		<{if $smarty.section.n.last}>
                        </li>
                  </ul>
		<{/if}>
		<{/section}>
            </section>

      </section>

</aside>
