</section>
<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
</section>
</section>
</section>
</section>


<script src="js/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="js/bootstrap.js"></script>

<!-- App -->
<script src="js/app.js"></script>
<script src="js/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/app.plugin.js"></script>

<script type="text/javascript" src="js/jquery.mousewheel.js"></script>

<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/fresh.js"></script>
<{foreach item=item from=$script_list}>
<script type="text/javascript" src="<{$item}>"></script>
<{/foreach}>
</body>

</html>