          <section class="vbox">          
            <section class="scrollable wrapper">

                <{section name=n loop=$mail_list}>
                <{if $smarty.section.n.first}>
                <div class="panel panel-default">
                  <table class="table table-striped m-b-none dataTable no-footer" data-ride="datatables" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                    <tr role="row">
                      <th style="width: 30%;">标题</th>
                      <th style="width: 15%;text-align: center;">时间</th>
                      <th style="width: 15%;text-align: center;">发件人</th>
                      <th style="width: 150px;text-align: center;">状态</th>
                      <th style="">预览</th>
                    </tr>
                    </thead>
                    <tbody style="cursor:pointer;">
                <{/if}>
                      <tr  onclick="location.href='mail-view.php?mid=<{$mail_list[n].mid}>'">
                        <td><{$mail_list[n].title}></td>
                        <td class="text-center"><{$mail_list[n].date}></td>
                        <td class="text-center"><{$mail_list[n].fromuser}></td>
                        <td class="text-center"><{$mail_list[n].status}></td>
                        <td><{$mail_list[n].thumbnail}></td>
                      </tr>
                <{if $smarty.section.n.last}>
                    </tbody>
                  </table>
                </div><!--END MAIL LIST-->
                <{/if}>
                <{sectionelse}>
                  <div>你还没有没有任何信息</div>
                <{/section}>

              <!-- 模态框（Modal） -->
              <div class="modal fade" id="tips-modal" tabindex="-1" role="dialog" aria-labelledby="tips-modal-title" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title text-center" id="tips-modal-title"></h4>
                    </div>
                    <div class="modal-body text-center"></div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal" id="btn-modal-close">关闭</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal -->
              </div>

            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
